<div class="login-container">
  <mat-card>
    <div class="login-logo">
      <img src="https://via.placeholder.com/100" alt="Logo aplikacji">
    </div>
    <mat-card-title>Zaloguj się</mat-card-title>
    <mat-card-subtitle>
      Wprowadź swoje dane, aby kontynuować
    </mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="outline">
          <mat-label>Adres e-mail</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Twój adres e-mail" autofocus>
          <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Proszę wprowadzić poprawny adres e-mail.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Twoje hasło">
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Hasło jest wymagane.
          </mat-error>
        </mat-form-field>

        <a class="forgot-password-link" routerLink="/forgot-password">Nie pamiętasz hasła?</a>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Zaloguj się</button>
      </form>
      <div class="register-link">
        <span>Nie masz konta? </span>
        <a >Zarejestruj się</a>
        <!--[routerLink]="['/register']"-->
      </div>
    </mat-card-content>
  </mat-card>
</div>
