<div class="container" style="width: 778px;margin-top: 20px;margin-left: 30px">
  <h3><strong>asdasd</strong></h3>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter name" type="text">
    <mat-icon fontIcon="person"matSuffix></mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter name" type="text">
    <mat-icon fontIcon="person"matSuffix></mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter name" type="text">
    <mat-icon fontIcon="person"matSuffix></mat-icon>
  </mat-form-field>

</div>
