.assets-list-card {
  width: 45%;
  float: left;
}

.edit-section {
  width: 45%;
  float: left;
  margin-left: 5%;
}

@media (max-width: 768px) {
  .assets-list-card, .edit-section {
    width: 100%;
    margin-left: 0;
  }
}
.assets-list-card {
  width: 100%;
}

.table-container {
  height: 60vh;
  overflow: auto;
}

.table-wrapper {
  max-height: 100%;
  overflow-y: auto;
}

.edit-section {
  margin-top: 20px;
}
